@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Caveat:wght@400..700&family=Momo+Signature&display=swap');
*{font-family: "Bitter", serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    

}
.logo{
    text-decoration: none;
    color:darkblue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;


}
.navigation a{
    color:darkblue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;


}
.navigation a:hover{
    color:rgb(130, 100, 152)
}
section{
    padding: 100px 200px;
}
.main{

    width: 100%;
    min-height: 100vh;
    display:flex;
    align-items: center;
    background: url("images/emna.jpg") no-repeat ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}
.main h2{
    color:#f0f0f0;
    font-size: 1.4 em;
    font-weight: 500 ;


}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color:blue;
    font-size:3em ;
    font-weight: 600;

}
.main h3{
    color:#f0f0f0;
    margin-bottom: 30px;
    margin-top:10px ;
    font-size:2em ;
    font-weight:700 ;
}
.main-btn{
    color:#f0f0f0;
    background-color: bisque;
    text-decoration: none;
    font-size:1.1em ;
    font-weight:600px ;
    display: inline-block;
    margin-bottom: 40px ;
    padding: 0.9375em 2.185em;
    letter-spacing: 1px;
    border-radius:15px ;
    transition: 0.7s ease;

}
.main-btn:hover{
    color: #929d9d;
    transform: scale(1.1);
}
.social-icons a{
    color:floralwhite;
    font-size: 1.7em ;
    padding-right:30px ;
}
.title{
    display: flex;
    justify-content: center; 
    color: blue;
    margin-bottom: 30px;
    font-size: 2.2em; 
    font-weight:800 ;

}
.content {
    display: flex ;
    justify-content: center;
    flex-direction: row ;
    flex-wrap: wrap ;
}
.card{
    background-color: #f0f0f0;
    width:21.25em ;
    box-shadow: 0px 5px 25px rgba(1 1 1/15%);
    border-radius: 10px;
    padding: 25px;
    margin:15px;
    transition: 0.7s ease;

}
.card:hover {
    transform: scale(1.1)

}
.card .icon{
    color:blue ;
    font-size:8em ;
    text-align: center ;


}
.info{
    text-align: center;
}
.info h3{
    color: blue; 
    font-size:1.2em ;
    font-weight:700 ;
    margin:10px ;

}
.projects{
     background: url("images/photo-1478760329108-5c3ed9d495a0.avif")  ;

}
.projects .content{
    margin-top: 30px;
}
.project-card {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    margin:20px ;
    border-radius:10px ;
    transition:0.7s ease ;

} 
.project-card:hover {
    transform: scale(1.1);
}
.project-card:hover .project-image {
    opacity: 0.9;
}
.project-image img{
    width: 100%;

}
.project-info{
    padding: 1em;

}
.project-categories {
    font-size:0.8em;
    color: black
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details{
    text-decoration: none;
    color: blue;
}
.more-details:hover{
    color: blue;

}
.contact {
    padding: 100px 20px; 
    max-width: 900px; 
    margin: 0 auto;
}


.contact .content .card { 
    width: 18em; 
    margin: 15px;
    display: block; 
}


.contact .content .card .icon {
    font-size: 4em; 
}


.content .icon{
    font-size: 4.3em;
}
.content .info h3{
    color: black;
}
#contact .content .info h3{
    color: darkblue;
}
